
.navbardiv{
    visibility: visible;
    background-color: #ffffff;
    display: flex;
   justify-content: space-around;
   border: 4px solid #e2e2e2;
   padding: 10px;
   font-family: 'Black Ops One', cursive;
}
#fosseelogo{
   padding: 3px;
    border: 2px solid rgb(134, 137, 165);
}
#firstitem:hover a{
    color: #f56010;
    
    cursor: pointer;
}
#seconditem:hover a{
    color: #f56010;
    cursor: pointer;
    
}
#thirditem:hover a{
    
    color: #f56010;
    cursor: pointer;
    
}
#fourthitem:hover a{
    color: #f56010;
    cursor: pointer;
}
#lastitem:hover a{
    color: #f56010;
    cursor: pointer;

}
#firstitem a{
    text-decoration: none;
    color: #0a0c0e;
}
 #seconditem a{
    text-decoration: none;
    color: #0a0c0e;
}
 #thirditem a{
    text-decoration: none;
    color: #0a0c0e;
}
 #fourthitem a{
    text-decoration: none;
    color: #0a0c0e;
}
#lastitem a{
    text-decoration: none;
    color: #0a0c0e;
}
#imagegallery{
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform:uppercase;  
    font-size: larger;
    color: #0050c8;
    background-color: #f3eedf;
    padding: 6px;
    letter-spacing: 2px;
    
}

.imageg{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.image1{
    border: 1.5px solid black;
    padding: 60px;
    background-color: #F7E2E2;
    border-radius: 20%;
}
.image2{
    border: 1.5px solid black;
    padding: 60px;
    background-color: #61A4BC;
    border-radius: 20%;
    
}
.image3{
    border: 1.5px solid black;
    padding: 60px;
    background-color: #5B7DB1;
    border-radius: 20%;
}
.imageg2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-radius: 20%;
}
.image4{
    border: 1.5px solid #004ec4;
    padding: 60px;
    background-color: #DAB88B;
    border-radius: 20%;
}
.image5{
    border: 1.5px solid #004ec4;
    padding: 60px;
    background-color: #F3E9DD;
    border-radius: 20%;
}
.image6{
    border: 1.5px solid #004ec4;
    padding: 60px;
    background-color: #B7CADB;
    border-radius: 20%;
}
.bottominfo{
    background-color: #b4add14b;
    padding: 20px;
    border-radius: 6px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
ul li{
    list-style-type: none;
    
}
hr{
    visibility: hidden;
}
#liitem1{
    font-family: 'Belgrano', serif;
    font-size: larger;
    font-weight: bolder;
}
#btmsecitem1{
    font-family: 'Belgrano', serif;
    font-weight: bolder;
    font-size: larger;
}
.bottomsection1 li:hover{
    color: #f56010;
    cursor: pointer;
}

.bottomsection2 li:hover{
    color: #f56010;
    cursor: pointer;
}
.bottomsection3 li:hover{
    color: #f56010;
    cursor: pointer;
}
#contacttext{
    font-family: 'Belgrano', serif;
    font-weight: bolder;
    font-size: larger;
}
/*#twitter-icon{
    border-radius: 0px;
    background-color: #2b9bf0;
}*/
#liitem1:hover{
    color: black;
}
#btmsecitem1:hover{
    color: black;
}
#contacttext:hover{
    color:black;
}
footer a{
    text-decoration: none;
    color: black;

}

.abc img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.abc :hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}